@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'TINY';
	src: url('/fonts/TINY/TINY5x3GX.ttf');
	font-weight: 20 300;
}

@font-face {
	font-family: 'Basis Grotesque';
	src: url('fonts/Basis/BasisGrotesqueArabicPro-Black.woff2');
	font-weight: 800;
}
@font-face {
	font-family: 'Basis Grotesque';
	src: url('fonts/Basis/BasisGrotesqueArabicPro-Bold.woff2');
	font-weight: 700;
}
@font-face {
	font-family: 'Basis Grotesque';
	src: url('fonts/Basis/BasisGrotesqueArabicPro-Light.woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'Basis Grotesque';
	src: url('fonts/Basis/BasisGrotesqueArabicPro-Medium.woff2');
	font-weight: 600;
}
@font-face {
	font-family: 'Basis Grotesque';
	src: url('fonts/Basis/BasisGrotesqueArabicPro-Regular.woff2');
	font-weight: 500;
}
